@model CoverType

<form method="post" asp-controller="CoverType" asp-action="DeletePost">
    <input asp-for="Id" type="hidden" />
    <div class="border p-3 m-4">
        <div class="row pb-2">
            <h2 class="header">
                Delete Cover Type
            </h2>
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" disabled class="form-control " />
            <span asp-validation-for="Name"></span>
        </div>       
        <button type="submit"class="btn btn-danger" style="width:150px">Delete</button>      
        <a asp-controller="CoverType" asp-action="Index" class="btn btn-secondary" style="width:150px">Back to List</a>
    </div>
</form>

@section Scripts
{
<partial name="_ValidationScriptsPartial"></partial>
}




